{% extends 'base.html' %}

{% block title %}Home - Escolarize{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4">Bem-vindo(a) ao Sistema Escolarize!</h1>
    <p class="lead">Acompanhe as notas e o desempenho escolar de seu(s) filho(s) de maneira fácil e prática.</p>
    <hr class="my-4">
    <p>Use a barra de navegação acima para acessar as notas e o histórico escolar.</p>
    <a class="btn btn-primary btn-lg" href="/notas/" role="button">Ver Notas</a>
    
</div>

{% endblock %}